.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.highlight {
  background-color: #FCFFB7;
}

.selected {
  background-color: #ffd7d7;
}

.scrollable {
  height: 800px;
  overflow: auto;
}

.scrollable2 {
  height: 500px;
  overflow: auto;
}

.buttons {
  margin-top: 520px;
}

.max-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

.stats {
  color: #999;
  font-size: 10px;
  display: block;
}

.keyactions {
  font-size: 11px;
}

.kbd {
  border: solid 1px #ABABAB;
  font-size: 10px;
  font-family: 'Lucida Grande';
  padding: 2px 3px;
  border-radius: 3px;
  color: #999;
}

#kbd li {
  padding: 10px 0;
  border-bottom: solid 1px #E6E6E6;
}

.item-heading {
  font-size: 20px;
  font-weight: bold;
}

a.toggle {
  font-size: 11px;
}
