{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h3 id="cas" data-casid="{{ cas.uid }}">CAS {{ cas.uid }} - Question {{ cas.question.id }}: "{{ cas.question.text }}"</h3>

  {% block keyboard_shortcuts %}{% endblock %}
</div>

<div class="row max-height">
  <div class="span3 scrollable">
    {% block items %}{% endblock %}
  </div><!-- span3 scrollable-->

  <div class="span9 scrollable2" id="pane">
  </div><!-- span9 scrollable-->
  {% block buttons %}{% endblock %}
</div><!-- row max-height -->

{% block javascript %}
{% endblock %}

{% endblock %}
