{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h2>CASes for Experiment {{ experiment_id }}</h2>
  <p>Trace: <span class="stats">{{ trace }}</span></p>
  <ul>
  {% for cas in cases %}
    <li><a href="{{ url_for('cas', cas_id=cas.id) }}">{{ cas.id }}</a></li>
  {% else %}
    <li><em>There's no CAS corresponding to this component</em>
  {% endfor %}
  </ul>
</div>
{% endblock %}
