{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h2>Experiment {{ experiment_id }}</h2>
  <div class="figure" style="margin-top: 30px;"></div>
</div>

<script>

d3.json("{{ url_for('graph', experiment_id=experiment_id) }}", function(error, json) {
  var width = (json['depth'] + 1) * 200,
      height = json['breadth'] * 18,
      graph = json['graph'];

  var tree = d3.layout.tree()
      .size([height + 5, width - 250]);

  var diagonal = d3.svg.diagonal()
      .projection(function(d) { return [d.y, d.x]; });

  var svg = d3.select(".figure").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(40,0)");

  var nodes = tree.nodes(graph),
      links = tree.links(nodes);

  var link = svg.selectAll("path.link")
      .data(links)
      .enter().append("path")
      .attr("class", "link")
      .attr("d", diagonal);

  var node = svg.selectAll("g.node")
      .data(nodes)
      .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

  node.append("circle")
      .attr("r", 4.5);

  node.append("text")
      .attr("font-size", "13")
      .append("a")
          .attr("target", "_blank")
          .attr("fill", "blue")
          .attr("xlink:href",function(d) {return "{{ url_for('index') }}" + "cases/" + "{{experiment_id}}" + "/" + encodeURIComponent(d.full_name); })
          .tooltip(function(d, i) {
            return {
              type: "tooltip",
              text: d.name,
              detection: "shape",
              placement: "fixed",
              gravity: "right",
              position: [d.y, d.x],
              displacement: [0, 20],
              mousemove: false
            };
          })
          .text(function(d) { return d.abbrev_name; });

  d3.select(self.frameElement).style("height", height + "px");
});

</script>
{% endblock %}
