{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h2>Experiments</h2>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Author</th>
        <th>Size</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      {% for experiment in experiments %}
        <tr>
          <td>{{experiment.date}}</td>
          <td>{{experiment.name}}</td>
          <td>{{experiment.author}}</td>
          <td>{{experiment.size}}</td>
          <td><a href="{{ url_for('experiment', experiment_id=experiment.id) }}">{{ experiment.id }}</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
  </ul>
</div>
{% endblock %}
