<span class="keyactions"><a href="#keyActions" data-toggle="modal">Keyboard Shortcuts</a></span>

<div id="keyActions" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Keyboard Shortcuts</h3>
  </div>
  <div id="kbd" class="modal-body">
    <ul class="unstyled">
      <li><span class="kbd">t</span> Switch between different decoration types (binary, real, and span)</li>
      <li><span class="kbd">j</span> Move down one item</li>
      <li><span class="kbd">k</span> Move up one item</li>
      <li><span class="kbd">y</span> Decorate currently selected item with "relevant" (binary)</li>
      <li><span class="kbd">n</span> Decorate currently selected item with "not relevant" (binary)</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div><!-- /modal -->
