<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>QA-WEB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messenger.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messenger-theme-future.css') }}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/d3-bootstrap-plugins.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/d3-bootstrap-plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messenger.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messenger-theme-future.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <style>
      body {
        padding-top: 60px; /* Make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}">CSE Framework</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--<li class="active"><a href="#">Experiment</a></li>-->
              <!--<li><a href="#cas">CAS</a></li>-->
            </ul>
            <ul class="nav pull-right">
              {% if current_user.is_authenticated() %}
                <li><a href="#" id="user" data-userid="{{current_user.id}}">{{ current_user.name}}</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('login') }}">Log in</a></li>
              {% endif %}
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-info" id="info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class=flash>{{ message }}</div>
          </div>
        {% endfor %}
      </div>
      {% block body %}{% endblock %}
    </div> <!-- /container -->
  </body>
</html>

