{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h2>Login</h2>
</div>

<div class="row">
  <form action="" method="post">
    <fieldset>
      <label>Username:</label>
      <input name="username" type="text">
      <label class="checkbox">
        <input type="checkbox" name="remember" value="yes"> Remember Me
      </label>
      <input class="btn" name="login" value="Login" type="submit" id="form_login">
    </fieldset>
  </form>
</div>
{% endblock %}
