{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h2>Sign up</h2>
</div>

<div class="row">
  <form class="form-horizontal" action="" method="post">
    <fieldset>
      <label>Username:</label>
      <input name="username" type="text">
      <input class="btn" name="signup" value="Sign up" type="submit" id="form_signup">
    </fieldset>
  </form>
</div>
{% endblock %}

