{% extends "cas.html" %}

{% block keyboard_shortcuts %}
  {% include "keyboard_shortcuts.html" %}
{% endblock %}

{% block items %}
  <section>
    <div>
      <span class="item-heading">Keywords</span> <a href="#" class="toggle" id="toggle-keywords">Toggle</a>
    </div>
    <ul class="keyword-list">
      {% for keyword in cas.keywords %}
      <li><a href="#" class="keyword-item" data-xmiid="{{keyword.id}}" data-keyword="{{keyword.text}}">{{keyword.text}}</a></li>
      {% else %}
        <li><em>There's no keyword corresponding to this CAS</em></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <div>
      <span class="item-heading">Passages</span> <a href="#" class="toggle" id="toggle-passages">Toggle</a>
    </div>
    <ul class="passage-list">
      {% for passage in cas.passages %}
      <li><a href="#" class="passage-item" data-xmiid="{{passage.id}}" data-uri="{{passage.uri}}" data-begin="{{passage.begin}}" data-end="{{passage.end}}">{{passage.uri}} {{ passage.begin}} {{ passage.end }}</a></li>
      {% else %}
        <li><em>There's no passage corresponding to this CAS</em></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <div>
      <span class="item-heading">Documents</span>
    </div>
    <ul class="document-list">
      {% for document in cas.documents %}
      <li><a href="#" class="document-item" data-xmiid="{{document.uid}}" data-uri="{{document.uri}}">{{document.uri}} {{document.rank}}</a></li>
      {% else %}
        <li><em>There's no document corresponding to this CAS</em></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block buttons %}
  <div class="buttons" style="display: none;">
    <hr>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#cas-binary" data-toggle="tab">Binary</a></li>
      <li><a href="#cas-real" data-toggle="tab">Real</a></li>
      <li><a href="#cas-span" data-toggle="tab">Span</a></li>
    </ul>

    <div class="tab-content" style="margin-top:-230px;">
      <div class="tab-pane active" id="cas-binary">
        <button id="btn-relevant" class="btn btn-success" type="button">Relevant</button>
        <button id="btn-notrelevant" class="btn btn-danger" type="button">Not Relevant</button>
      </div>

      <div class="tab-pane" id="cas-real">
        <form id="form-cas-real" data-validate="parsley" action="javascript:void(0);">
          <input id="real-value" type="text" placeholder="Type some number..." data-type="number" data-required="true" data-trigger="keyup" data-validation-minlength="0" class="parsley-validated" style="margin-top:10px">
          <button id="cas-real-button" type="submit" class="btn btn-real" disabled="disabled">Submit</button>
        </form>
      </div>

      <div class="tab-pane" id="cas-span">
        <form id="form-cas-span" data-validate="parsley" action="javascript:void(0);">
          <fieldset>
            <textarea id="span-text" type="text" size="90" placeholder="Type some text or select (highlight) a span..." data-required="true" data-trigger="keyup" data-validation-minlength="0" class="parsley-validated" style="margin-top:10px; width: 540px;"></textarea>
            <button id="cas-span-button" type="submit" class="btn btn-interval" disabled="disabled">Submit</button>
          </fieldset>
        </form>
      </div>
    </div><!-- tab-content -->
  </div><!-- div.buttons -->
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $('#myTab a:first').tab('show');

    $('a#toggle-keywords').click(function() {
      $('ul.keyword-list').toggle('slow');
    });
    $('a#toggle-passages').click(function() {
      $('ul.passage-list').toggle('slow');
    });
  })
</script>
{% endblock %}
